*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 792px;
    background-image: url(../img/xbg_1.jpg.pagespeed.ic.Ojq-dWQTjg.webp);
    background-size: cover;
    object-fit: none;
    position: relative;
}
.overlay{
    width: 100%;
    height: 792px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
[class^="col-"] {
    height: 99.9px;
} 
.col-3{
   display: flex;
   justify-content: flex-end;
   padding-top: 20px;
   position: relative;

}
h1{
    line-height: 30px;
    font-size: 34px;
    position: absolute;
    top: 15px;
    right: 3px;
    color: white;
}
span{
    height: 20px;
    font-weight: 900;
    position: absolute;
    top: 41px;
    color: rgb(240, 212, 56);
}

.col-6{
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
}
.menu ul li {
    display: inline-block;
    
}
.home-color{
    position: relative;
}
.menu ul .home-color li a{
    color: goldenrod;
    position: absolute;
    right: 380px;
    top: 21px;
    font-family: sans-serif;
    font-weight: bold;
}

.menu ul li a {
    color:gray;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: 39px;
}
